.health-container {
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

.card-img img {
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-info {

    margin: 10px;
}

.btn-handler {
    color: white;
    border: none;
    font-size: 20px;
    background-color: darkorchid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* .btn-div {
    margin-bottom: 0;
} */